<%= form_with(model: [ @document, @document.notes.build ], local: true) do |form| %>
  <p>
    <%= form.label :left %><br>
    <%= form.rich_text_area :left %>
  </p>
  <p>
    <%= form.label :right %><br>
    <%= form.rich_text_area :right %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>