<div class="mr-auto ml-auto p-3" style="max-width: 700px">
  <h2 class="text-3xl mb-4">Edit <%= resource_name.to_s.humanize %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="grid grid-cols-1 gap-6">
      <div>
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "block" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
      
      <div>
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "new-password", class: "block" %>
      </div>
      <div>
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "block" %>
      </div>
      <div>
        <%= f.label :current_password %>
        <%= f.password_field :current_password, autocomplete: "current-password", class: "block" %>
      </div>

      <p><%= f.submit "Update", class: "btn btn-blue" %></p>
    </div>
  <% end %>

  <h3 class="my-4 text-2xl">Cancel my account</h3>

  <p class="my-4">Unhappy?</p>
  
  <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn bg-red-800 text-red-100" %>

  <%= link_to "Back", :back, class: "underline my-4" %>
</div>