
<div class="prose max-w-none">
  <h1>Your Documents</h1>
  
  <table>
    <tr>
      <th>Title</th>
      <th>Actions</th>
    </tr>
  
    <% @documents.each do |document| %>
      <tr>
        <td><%= document.title %></td>
        <td>
          <div class="btn-group" role="group" aria-label="Document actions">
            <%= link_to 'Show', document_path(document),
                        class: "btn btn-primary", role: "button" %>
            <%= link_to 'Review', { controller: "documents", action: "review", id: document.id },
                        class: "btn btn-success", role: "button" %>
            <%= link_to 'Delete', document_path(document), method: :delete, confirm: "Are you sure?",
                        class: "btn btn-danger", role: "button" %>
          </div>
        </td>
      </tr>
    <% end %>
  </table>
  <p><%= link_to 'Create new document', new_document_path %></p>
</div>
