<% content_for :head do %>
    <%
      # Disable Turbolinks caching to ensure that it doesn't reload stale
      # data e.g. if the user presses the back button
    %>
    <meta name="turbolinks-cache-control" content="no-cache">
<% end %>

<h1>Reviewing: <%= @document.title %></h1>

<article id="document-reviewer"
  data-document-id="<%= @document.id %>"
  data-document-content="<%= @document.content %>"
  data-prior-knowledge="<%= @knowledges %>"></article>
<%= javascript_pack_tag 'document-reviewer', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_pack_tag 'document-reviewer', 'data-turbolinks-track': 'reload' %>