<% content_for :head do %>
    <%
      # Disable Turbolinks caching to ensure that it doesn't reload stale
      # data e.g. if the user presses the back button
    %>
    <meta name="turbolinks-cache-control" content="no-cache">
<% end %>

<div class="prose max-w-none">
    <h1><%= @document.title %>
        <%= link_to 'Rename',
            { controller: "documents", action: "rename", id: @document.id },
            class: "text-xl" %>
        <%= link_to 'Review',
            { controller: "documents", action: "review", id: @document.id },
            class: "text-xl" %></h1>

    <% # editor configuration %>
    <article id="document-editor" data-initial-content="<%= @document.content %>"></article>
</div>
<%= javascript_pack_tag 'document-editor', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_pack_tag 'document-editor', 'data-turbolinks-track': 'reload' %>